<div class="sidebar-contact">

    <div class="searchSection">
        <mat-icon>search</mat-icon>
        <input type="search" placeholder="search friends" />
    </div>

    <div class="avtarSection">
        <div class="picture">
            <img src="../../assets/images/noprofilpic.png" />
        </div>
        <div class="name">
            <div class="title">Dianne Vanhorn</div>
            <div class="subTitle">Software Developer</div>

        </div>
    </div>

    <div class="iconsSection">
        <div class="chat">
            <img src="../../assets/images/logo_apple_white.png" />
            <h2>Chat</h2>
        </div>

        <div class="videoCall">
            <span class="video">   <mat-icon>videocam</mat-icon></span>
            <h2>Video Call</h2>
        </div>


    </div>
    <div class="actionSection">
        <div class="view">
            <mat-icon>person_outline</mat-icon>
            <h4>View Friends</h4>
        </div>
        <div class="fav">
            <mat-icon>favorite_border</mat-icon>
            <h4>Add to Favorite</h4>
        </div>
    </div>

    <div class="aatachmentSection">
        <div class="na">Attachments</div>

        <div class="att">
            <div class="pdf">PDF</div>
            <div class="vid">Video</div>
            <div class="mp">MP3</div>
            <div class="img">Image</div>
        </div>
        <button class="button button1">View All</button>
    </div>
</div>